body{background:#fff;}
#header{background:#f0f0f0;}
#wide_page_nav_wrap{background:#ffffff;}
#wide_page_nav_wrap .wide_page_nav{margin:0 auto;width:1190px;height:80px;padding-top:20px;}
.wide_page_nav .wide_page_top{height:80px;position:relative;}
.wide_page_nav .wide_page_top .index_logo{float:left;}
.wide_page_top .mendian{position:absolute;left:536px;top:0px;
background:url(../images/ind_top_bq.gif) no-repeat;width:270px;height:76px;}
.wide_page_top .mendian a{width:88px;height:76px;float:left;display:block;
}
.wide_page_top .index_search{float:right;color:#999;width:330px;height:68px;position:relative;margin-top:13px;}
.wide_page_top .index_search a{color:#999;}
.wide_page_top .index_search a:hover{color:#f60;}
.wide_page_top .index_search .inx_searcher{width:330px;height:30px;border: 2px solid #90C221}
.index_search .inx_searcher .index_ser_txt{border:0;padding-left:30px;width:218px;height:30px;
color:#A0A0A0;font-weight:600;}
.index_search .inx_searcher i{width: 30px;height: 26px;position: absolute;top: 4px;left: 2px;
background:url(../images/tubiao.png) no-repeat 5px -350px;display: block;}
.index_search .index_ser_btn{background-color: #90c31f;color: #fff;width: 78px;height: 30px;
line-height: 30px;border: 0px;cursor: pointer;font-size: 14px;font-weight: bold;float:right;
}
.wide_page_bm_wrap{background:#90C31F;position:relative;}
.wide_page_bm{margin:0 auto;width:1190px;height:35px;position:relative;}
.wide_page_bm span{width: 160px;height: 35px;padding-left: 50px;color: #fff;font-size: 14px;
background-color: #6d9d03;z-index: 9999;cursor: default;display:block;
float:left;line-height:35px;}
.wide_page_bm i{width: 14px;height: 12px;position: absolute;top: 12px;left: 147px;
background: url(../images/tubiao.png) no-repeat 0 -124px;display: block;overflow: hidden;
}
.wide_page_bm a{float:left;padding:0 35px 0 35px;height:35px;line-height:35px;color:#fff;font-size:14px;}
.wide_page_bm a:hover{background:#77B001;}
/*banner图*/
.box{height:320px;position:relative;width:100%;}
.box #banner ul{overflow:hidden;}
.box #banner ul li{position:absolute;left:0;top:0;display:none;height:320px;padding-left:247px;width:80%;}
.box #banner ul li:nth-child(1){background:#6D00B7;}
.box #banner ul li:nth-child(2){background:#FFF112;}
.box #banner ul li:nth-child(3){background:#3BABBF;}
.box #banner ul li:nth-child(4){background:#1C8EFE;}
.box #banner ul li:nth-child(5){background:#2AA9FA;}
.box #banner ul li:nth-child(6){background:#3A8FE0;}
.box .banner_num{width: 174px;position:absolute;opacity: 0.7;filter: alpha(opacity=50);
-moz-border-radius: 30px;-webkit-border-radius: 30px;border-radius:30px;
left:555px;top:280px;
}
.box .banner_num b{width: 18px;height: 18px;-moz-border-radius: 20px;
-webkit-border-radius: 20px;border-radius: 20px;display: inline-block;
background: #333;margin: 4px;cursor: pointer;color: #fff;line-height: 18px;
font-weight: normal;text-align:center;}
/*开始左边导航*/
.banner_nav{position:absolute;left:37px;top:0;z-index:20}
.banner_nav ul li{width: 210px;height: 45px;line-height:45px;color:#666;background:#fff;}
.banner_nav ul li .abso{height:49px;width:206px;background:#fff;position:absolute;z-index:1;
border:1px solid #94C51B;border-right:0;}
.banner_nav ul li:hover{border:2px solid #94C51B;border-right:2px solid #fff;}
.banner_nav ul li i{display:block;width:30px;height:30px;overflow:hidden;float:left;
margin: 7px 5px 0px 27px;_margin: 7px 5px 0px 13px;}
.banner_nav ul li .banner_nav_i1{background: url(../images/tubiao.png) no-repeat 0 -414px;}
.banner_nav ul li .banner_nav_i2{background: url(../images/tubiao.png) no-repeat 0 -453px;}
.banner_nav ul li .banner_nav_i3{background: url(../images/tubiao.png) no-repeat 0 -494px;}
.banner_nav ul li .banner_nav_i4{background: url(../images/tubiao.png) no-repeat 0 -531px;}
.banner_nav ul li .banner_nav_i5{background: url(../images/tubiao.png) no-repeat 0 -570px;}
.banner_nav ul li .banner_nav_i6{background: url(../images/tubiao.png) no-repeat 0 -607px;}
.banner_nav ul li .banner_nav_i7{background: url(../images/tubiao.png) no-repeat 0 -644px;}
.banner_nav ul li span{float:left;display:block;width:105px;}
.banner_nav ul li b{display: block;width: 6px;height: 45px;float: left;
background: url(../images/tubiao.png) no-repeat 0 -681px;}
.box .lun1{width:218px;height:320px;overflow:hidden;position:absolute;left:1007px;top:0;}
.box .lun1 ul{position:absolute;left:0;top:0;width:436px;}
.box .lun1 ul li{float:left;}
.box .lun1 div{position:absolute;left:65px;top:300px;}
.box .lun1 div span{float: left;display: block;width: 40px;height: 5px;background: #666;
margin-right: 2px;cursor: pointer;overflow: hidden;
}
/*banner商品详情*/
.banner_nav .xuan{width:760px;height:320px;background:#fff;position:absolute;left:207px;top:0;display:none;
border:1px solid #94C51B;z-index:2;}
.banner_nav .xuan dl{width:508px;}
.banner_nav .xuan dt{float:left;text-align:right;width:83px;padding-right:15px;color:#666;font-weight:bold;}
.banner_nav .xuan  dd{float:left;width:410px;border-bottom:1px dotted #ccc;padding-top:9px;padding-bottom:10px;}
.banner_nav .xuan  dd a{display:block;float:left;padding:0 1px;height:28px;
line-height:28px;color:#666;} 
.banner_nav .xuan  dd a:hover{color:#f60;}
/*热门筛选*/
.hot_goods{width:1190px;height:149px;margin:0 auto;background:fff;}
.hot_goods .left{float:left;width:199px;height:130px;padding:8px 0 0 11px;border:1px solid #E9E9E9;
background:#f3f3f3;}
.hot_goods .left h4{height:26px;width:197px;font-size:14px;font-weight:bold;margin-bottom:4px;}
.hot_goods .left a{display:block;width:55px;height:26px;line-height:26px;margin:0 8px 5px 0;float:left;color:#666;
background:#fff;text-align:center;}
.hot_goods .left a:hover{color:#fff;background:#90C31F;}
.hot_goods .center{float:left;width:744px;height:131px;padding:9px;}
.hot_goods .center a{float:left;margin-right:1px;}
.hot_goods .right {float:left;height:138px;border:1px solid #ccc;}
.hot_goods .right ul{display:block;padding:10px;}
.hot_goods .right  a{color:#666;}
.hot_goods .right .right_top,.hot_goods .right .right_top1{float:left;width:106px;height:27px;display:block;
text-align:center;font-size:14px;font-weight: bold;}
.hot_goods .right ul li{height:22px;width:184px;line-height:22px;}
.hot_goods .right a:hover{color:#f60;}
.right .active{background:#F4F4F4;border:1px solid #ccc;}
/*sale部分*/
.sale{width:1190px;min-height:182px;color:#666;margin:0 auto;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.sale p span{color:#f60;}
.sale_a2{border-bottom:1px solid #ccc;}
.sale .sale_a {float:left;width:210px;height:182px;background:url(../images/icon3.gif) no-repeat 0 0;}
.sale .sale_a a{display:block;width:210px;height:91px;}
.sale ul{float:left;display:none;}
.sale ul li{float:left;width:195px;height:182px;margin-bottom:2px;text-align:center;border-bottom:1px solid #ccc;}
.sale ul li p{text-align:center;}
.sale ul li img{width:135px;height:135px;display:block;margin:0 auto;transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;}
.sale ul li img:hover{margin-left:-1px;}
/*1楼开始*/
.floor{width:1190px;height:750px;margin:0 auto;}
.floor_1{margin-top:38px;}
.floor a{color:#666;}
.floor a:hover{color:#f60;}
.floor_1 .floor_1_top{height:27px;}
.floor_1 .floor_1_top ul{float:left;margin-right:72px;}
.floor_1 .floor_1_top ul li{float:left;}
.floor_1 .floor_1_top h2{float:left;color:#7FBBFC;width:210px;font-size:19px;line-height:22px;font-weight:100;}
.floor_1 .floor_1_top .rta{float:right;display:block;padding-right:13px;position:relative;
width:27px;height:27px;}
.floor_1 .floor_1_top .rta i{position:absolute;top:7px;right:0;display:block;width:13px;height:13px;
background:url(../images/tubiao.png) no-repeat 0 -727px;}
.floor_bm{width:1190px;border-top:3px solid #72B7FC;}
.floor_bm_left{float:left;}
.floor_bm_left .lun2{width:210px;height:360px;overflow:hidden;position:relative;}
.floor_bm_left .lun2 ul{position:absolute;left:0;top:0;width:436px;}
.floor_bm_left .lun2 ul li{float:left;}
.floor_bm_left .lun2 div{position:absolute;left:65px;top:342px;}
.floor_bm_left .lun2 div span{float: left;display: block;width: 40px;height: 5px;background: #666;
margin-right: 2px;cursor: pointer;overflow: hidden;}
.floor_bm_left .left_hots{height:360px;background:#F7F7F7;}
.floor_bm_left h3{height:50px;line-height:50px;color:#333;font-size:16px;
text-align:center;}
.floor_bm_left .left_hots dl{padding-top:15px;padding-left:9px;
position:relative;height:87px;}
.floor_bm_left .left_hots dt{float:left;}
.floor_bm_left .left_hots dd{float:left;width:100px;margin-left:10px;line-height:18px;}
.floor_bm_left .left_hots dd span{color:#f60;}
.floor_bm_left .left_hots dd del{color:#999;margin-left:28px;}
.floor_bm_left .left_hots dd i{width: 84px;height: 15px;overflow: hidden;
float: left;display:inline-block;background:url(../images/tubiao.png) no-repeat -367px -55px;}
.floor_bm_left .left_hots  b{position:absolute;left:9px;top:0;
background: url(../images/123.png) no-repeat 0 0;width:190px;height:33px;display:block;}
.list_rt{float:left;width:979px;height:720px;}
.list_rt dl{width:223px;height:228px;border-right:1px solid #E9E9E9;
 border-bottom:1px solid #E9E9E9;padding:10px;float:left;line-height:16px;}
.list_rt dd{color:#f60;}
.list_rt dl i{font-size:16px;}
.list_rt .list_lun{width:490px;height:239px;position:relative;overflow:hidden;float:left;}
.list_rt .list_lun ul{position:absolute;left:0;top:0;width:980px;}
.list_rt .list_lun ul li{float:left;}
.list_rt .list_lun div{position:absolute;left:200px;top:218px;}
.list_rt .list_lun div span{float: left;display: block;width: 40px;height: 5px;background: #666;
margin-right: 2px;cursor: pointer;overflow: hidden;}
#floor_2 h2{color:#FD81C3;}
#floor_3 h2{color:#7FBBFC;}
#floor_4 h2{color:#666;}
#floor_5 h2{color:#AA72D2;}
/*4楼轮播*/
#floor_4{height:1030px;}
#floor_4 .f4_lun{width:1190px;height:246px;border-top:3px solid #666;}
.f4_lun .lun4f{width:710px;height:243px;overflow:hidden;float:left;position:relative;}
.f4_lun .lun4f ul{position:absolute;left:0;top:0;width:2220px;}
.f4_lun .lun4f ul li{float:left;}
.f4_lun .lun4f div{position:absolute;left:312px;top:228px;}
.f4_lun .lun4f div span{float: left;display: block;width: 40px;height: 5px;background: #666;
margin-right: 2px;cursor: pointer;overflow: hidden;}
.f4_lun .price{float:left;width:470px;margin-left:6px;}
.f4_lun .price .pri_tu{float:left;}
.f4_lun .price .hot_pri{float:right;width:192px;padding:0 20px;border:1px solid #E9E9E9;height:241px;margin-left:3px;}
.f4_lun .price .hot_pri h4{width:193px;height:28px;font-size:14px;font-weight:100;color:#333;
border-bottom:1px solid #E9E9E9;margin-bottom:10px;}
.f4_lun .price .hot_pri li h5{font-size:12px;font-weight:100;color:#333;width:100px;line-height:20px;}
.f4_lun .price .hot_pri li a{display:block;width:62px;height:18px;background:#94C51B;color:#fff;
text-align:center;float:left;margin:2px;line-height:18px;}
.f4_list{width:1189px;height:750px;border-right:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;}
.f4_list img{transition: all 0.2s linear;-webkit-transition: all 0.2s linear;}
.f4_list img:hover{margin-left:-3px;}
.f4_list dl{width:288px;height:241px;padding:4px;border-top:1px solid #E9E9E9;border-left:1px solid #E9E9E9;
float:left;position:relative;}
.f4_list dl dd{position:absolute;left:51px;top:185px;text-align:center;}
.f4_list dl dd i{position:absolute;left:55px;top:-155px;color:#333;width:100px;}
.f4_list dl dd a{color:#666;}
.f4_list dl dd span{font-size:16px;color:#F60;}
/*5楼轮播图开始*/
#floor_5{height:800px;}
#floor_5 .f5_top{height:1190px;height:240px;border-top:3px solid #AA72D2;}
#floor_5 .f5_top .f5_lun{width:710px;height:240px;overflow:hidden;float:left;position:relative;}
.f5_top .f5_lun ul{width:2400px;position:absolute;left:0;top:0;}
.f5_top .f5_lun ul li{float:left;}
.f5_top .f5_lun .f5lt_sp{position:absolute;left:317px;top:223px;}
.f5_top .f5_lun .f5lt_sp span{float: left;display: block;width: 40px;height: 5px;background: #666;
margin-right: 2px;cursor: pointer;overflow: hidden;}
.f5_top .f5tu{float:right;}
.f5_top .f5tu img{display:block;height:240px;}
/*5楼商品列表*/
.f5_list{height:500px;width:1190px;margin-top:5px;border-right:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;}
.f5_list dl{width:288px;height:241px;padding:4px;border-left:1px solid #E9E9E9;border-top:1px solid #E9E9E9;float:left;
position:relative;color:#f60; }
.f5_list dl dd{position:absolute;left:60px ;top:189px;text-align:center;line-height:17px;}
.f5_list dl dd span{font-size:16px;}
.f5_list img{transition: all 0.2s linear;-webkit-transition: all 0.2s linear;}
.f5_list img:hover{margin-left:-3px;}
.store{width:1190px;height:364px;margin:30px auto;margin-top:60px;border:1px solid #E9E9E9;}
.store .store_top{height:28px;}
.store .store_top li{float:left;line-height:28px;height:28px;text-align:center;color:#6F6F6F;border-left:1px solid #E9E9E9;
display:block;width:100px;font-size:14px;font-weight:bold;}
.store .store_top li:hover{color:#fff;background:#94C51B;}
.store .store_center{height:50px;width:1190px;border-top:3px solid #94C51B;padding-top:10px;display:none;
border-bottom:1px solid #E9E9E9;}
.store .store_center .descri{float:left;width:680px;height:50px;color:#666;text-indent:25px;padding-right:214px;
padding-left:12px;line-height:20px;}
.store .store_center .serve{float:left;margin:5px 0 15px 0;padding-left:15px;border-left:1px solid #E9E9E9;}
.store .store_center .serve a{display: block;width: 24px;height: 24px;float: left;margin: 3px 5px 3px 0px;cursor: default;
-webkit-border-radius: 12px;}
.store .store_center .serve a:nth-child(1){background: #94c51b url(../images/serviceIcon.png) no-repeat -2px -30px;}
.store .store_center .serve a:nth-child(2){background: #94c51b url(../images/serviceIcon.png) no-repeat -2px -58px;}
.store .store_center .serve a:nth-child(3){background: #94c51b url(../images/serviceIcon.png) no-repeat -2px -86px;}
.store .store_center .serve a:nth-child(4){background: #94c51b url(../images/serviceIcon.png) no-repeat -2px -114px;}
.store .store_center .serve a:nth-child(5){background: #94c51b url(../images/serviceIcon.png) no-repeat -2px -198px;}
/*6楼选项卡*/
.nan{height:272px;width:1190px;}
.nan .nan_lt{float:left;width:169px;background:url(../images/left_bg_all.png) no-repeat 0 0;}
.nan .nan_lt a{width:169px;height:137px;display:block;}
.nan .nan_ul{width:1021px;float:left;position:relative;}
.nan .nan_ul a{float:left;margin:10px;}
.nan_rt_ul{width:277px;height:258px;padding-left:20px;border-left:1px solid #E9E9E9;float:left;padding-top:10px;}
.nan_rt_ul li{height:210px;height:18px;line-height:18px;margin:5px 0;padding-left:30px; }
.nan_rt_ul li:nth-child(1){background:url(../images/serviceIcon.png) no-repeat -2px -218px;}
.nan_rt_ul li:nth-child(2){background:url(../images/serviceIcon.png) no-repeat -28px -33px;}
.nan_rt_ul li:nth-child(3){background:url(../images/serviceIcon.png) no-repeat -28px -61px;}
.nan_rt_ul li:nth-child(4){background:url(../images/serviceIcon.png) no-repeat -28px -117px;}
.nan .nan_ul span{width:189px;height:52px;background:url(../images/cheng_btn.png) no-repeat;display:block;
position:absolute;right:85px;top:190px;}
/*尾部选项卡*/
.weibu{width:1190px;height:230px;margin:0 auto;}
.weibu a:hover{color:#f60;}
.weibu .wei_lt{width:210px;height:230px;float:left;border:1px solid #ddd;border-top:4px solid #94C51B;margin-right:8px;}
.weibu .wei_lt .wei_lt_top a{height:28px;width:105px;display:block;float:left;color:#666;font-weight:bold;line-height:28px;
text-align:center;font-size:14px;}
.weibu .wei_lt ul li{background:url(../images/bg-home-02g.jpg) no-repeat 0 6px;;padding-left:20px;line-height:22px;}
.weibu .wei_lt ul a{color:#666;}
.weibu .wei_lt ul a:hover{color:#f60;}
.weibu .wei_lt .wei_lt_top .active{background:#94C51B;color:#fff;}
.weibu_cer{width:672px;height:230px;float:left;}
.weibu_cer .f6_lun{width:326px;height:230px;border:1px solid #DDD;border-top:4px solid #94c51b;float:left;
margin-right:8px;}
.weibu_cer h4{height:28px;padding:0 15px;border-bottom:1px solid #DDD;}
.weibu_cer h4 a{color:#666;font-weight:bold;}
.f6_hua{width:318px;height:201px;padding-left:8px;position:relative;overflow:hidden;}
.f6_hua ul{position:absolute;left:8px;top:-707px;}
.f6_hua li{height:84px;border-bottom:1px dotted #ddd;width:310px;padding-top:16px;line-height:16px;}
.hua_img{width:68px;height:68px;float:left;margin-bottom: 16px;border:1px solid #ddd;}
.f6_hua li img{width:68px;height:68px;}
.f6_wen{float:right;width:235px;height:38px;margin-bottom:3px;margin-left:5px;}
.f6_wen h5 a{color:#6D9D03;font-weight:100;}
.f6_wen div{height:13px;padding-top:3px;}
.f6_wen div i{width:84px;height:15px;float:left;display:block;background:url(../images/tubiao.png) no-repeat -367px -55px;}
.f6_wen div .wen_p1 span{color:#f60;}
.f6_wen div .wen_p1{float:right;margin-right:22px;height:16px;width:60px;color:#333;font-weight:100;}
.wen_p b{font-weight:100;color:#666;}
.weibu_rt{float:left;width:296px;height:230px;border:1px solid #ddd;border-top:3px solid #94c51b;}
.weibu_rt h3{color:#666;font-weight:bold;font-size:14px;height:28px;line-height:28px;border-bottom:1px solid #ddd;margin-left:10px;}
.weibu_rt li{display:none;}
.weibu_rt li img{display:block;}
.weibu_rta{height:50px;background:url(../images/gzbtg.jpg) no-repeat 0 0;}
.weibu_rta a{height:50px;width:148px;float:left;cursor:pointer;}
/*尾部补充*/
.foot_bu{background:#f0f0f0;margin-top:30px;}
.footer_top{width:980px;height:218px;margin:0 auto;padding-top:10px;}
.footer_top_tu{background:url(../images/nfot-bg-03.gif)  no-repeat 0 0;width:980px;height:100px;}
.footer_top .footer_list{width:910px;height:78px;padding:20px 0 20px 70px;}
.footer_top .footer_list dl{float: left;overflow: hidden;width:150px;height:86px;text-align:center;}
.footer_top .footer_list dt{font-size: 14px;margin-bottom:10px;font-weight:bold;color:#666;}
.footer_top .footer_list dd a{color:#999;text-decoration:none;font-size:12px;}
.footer_top .footer_list dd a:hover{color:#f60;}
.footer_top .footer_list dd{line-height: 18px;}